# Server Configuration
PORT=8080
NODE_ENV=development
API_VERSION=v1
MONGO_URI=mongodb+srv://mongoose_practice:XGLkSDcbXyF3JkNz@cluster0.sjbgh.mongodb.net/chat_app?retryWrites=true&w=majority
# CORS Configuration
CORS_ORIGIN=*

# JWT Configuration
JWT_SECRET=e0ec58cf643a41a90b0172cc41db210782b233317ae59506c469d2b976a5598e
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d